*
!/app/
!/app/**/*
!/bootstrap/app.php
!/bootstrap/cache/.gitignore
!/config/*
!/database/**/*
/database/*.sqlite3
!/lang/**/*
!/public/**/*
!/public/vendor/
!/resources/**/*
!/routes/**/*
!/storage/app/.gitignore
!/storage/framework/cache/.gitignore
!/storage/framework/sessions/.gitignore
!/storage/framework/views/.gitignore
!/storage/logs/*
!/artisan
!/composer.json
!/composer.lock
