*~
/[Bb]ackup*/
/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
/.idea
/.vscode
/*.log
/tools
/phpunit.xml
